<div class="col-10 offset-1 about">
  <h1>About This App</h1>
  <br />
  <p>This application was built by Caitlin O'Halloran. Caitlin is currently a studying programming through the Firehose Project.</p>
  <p>If you want to learn how to code, start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.</p>
  <div class="row">
    <div class="col-12 col-sm-4">
    <%= image_tag 'caitlin.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Caitlin O'Halloran</h2>
      <br />
      <p>
        Caitlin O'Halloran is a web developer who lives in Cambridge, Massachusetts. She graduated with a degree in Philosophy from Boston University. After several months of self-study, she is now a student at the Firehose Project.
      </p>
    </div>
</div>
<br class="clear"/>
<br />
<br />
<br />
<br />
